<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>School</th>
      <th>Focus</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {{#each category.schools}}
      <tr>
        <td>
          {{schoolname}}
        </td>
        <td>
          {{focus}}
        </td>
        <td>
          {{location}}
        </td>
     <td>
          <a href="/category/{{../category._id}}/deleteschool/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>